
.password-container{
    max-width: 400px;
    width: 50%;
    padding: 20px;
    margin: 1vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
overflow-x: auto;
text-align: center;
font-size: 1.2rem;
font-family: 'Times New Roman', Times, serif;
}
.password-strength{
    display: block;
    width: 50%;
    max-width: 400px;
    margin:1vh auto;
    font-size: 0.8rem;
    text-align: left;
    font-family: cursive;
    text-transform: uppercase;

}
.characters-length{
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    font-family: cursive;

}
.form{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 500px;
    margin: auto;
    justify-content: center;
    
}
.regenerate-btn{
    padding: 1vh 2vh;
    margin: 1vh 0;
    background-color: transparent;
    border:none;
    color: #007bff;
    cursor: pointer;
    font-size: 1.5rem;
}